.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.addNewProjectText {
  font-family: Roboto;
  margin-left: 150px;
}

.addNewProjectButton {
  margin: 10px;
}

.example-card {
  max-width: 400px;
  margin-left: 150px;
  margin-top: 10px;
  border-top-style: solid;
  border-top-color: #3F51B5;
  background-color: white;
}

.viewButton {
  margin: 2px;
}

.editButton {
  margin: 2px;
}

.deleteButton {
  margin: 2px;
}
