.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.addNewProjectContainer {
  display: flex;
  justify-content: center;
}

.addNewProjectText {
  font-family: Roboto;
  width: fit-content;
  margin-top: 2px;
}

.addNewProjectButton {
  margin-left: 10px;
}

.mat-grid-list {
  width: 100%;
}

.mat-card {
  max-width: 400px;
  margin: 10px;
  border-top-style: solid;
  border-top-color: #3F51B5;
  background-color: white;
}

.viewButton, .editButton, .deleteButton, .icon {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
