.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.addNewUserContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.addNewUserText {
  font-family: Roboto;
  margin: 0;
}

.addNewUserButton {
  margin-left: 10px;
}

.titlerole, .titlerole2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.user-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.user-sections.small-screen {
  flex-direction: column;
  align-items: center;
}

.admin-users, .normal-users {
  flex: 1;
  margin: 10px;
}

.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  border-top-style: solid;
  border-top-color: #3F51B5;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.mat-card-header, .mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mat-card-title, .mat-card-subtitle {
  width: 100%;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.editButton, .deleteButton, .icon {
  margin: 2px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
