.h2-title {
  color: #3F51B5;
  font-family: Roboto;
}

.saveButton {
  background-color: #3F51B5;
  color: white;
  float:right;
  margin-top: 60px;
}

.closeButton {
  float: right;
  margin-right: 10px;
  margin-top: 60px;
}

.close {
  float: right;
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}

.mat-form-field {
  width: 450px;
}


