<p>
  <mat-toolbar color="primary">
    <button *ngIf="this.isUserLoggedIn" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/overview">Overview</button>
      <button *ngIf="isAdminUser" mat-menu-item routerLink="/settings">Settings</button>
      <button mat-menu-item routerLink="/about">About</button>
    </mat-menu>
    <span>Ticketing System</span>
    <span class="example-spacer"></span>
    <button *ngIf="this.isUserLoggedIn" class="logoutbutton" mat-button (click)="logoutUser()" routerLink="/login">Logout</button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>


