.popUpButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.deleteButton {
  size: 10px 10px;
}

.addNewTicketText {
  font-family: Roboto;
  margin-right: 150px;
}

.addNewTicketButton {
  margin: 10px;
}

.dragndropcontainer {
  align-content: center;
  margin-left: 100px;
}

.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.example-container {
  width: 22%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: center;
  font-family: Roboto;
  background-color: #F6F8FC;
  text-align: center;
  font-family: Roboto;
  border-top-style: solid;
  border-top-color: #3F51B5;
}

.example-list {
  border: none;
  min-height: 60px;
  overflow: hidden;
  background-color: #F6F8FC;
}

.example-box {
  padding: 50px 10px;
  border-bottom: none;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.logoutbutton {
  color: white;
  font-family: Roboto;
}

.example-spacer {
  flex: 1 1 auto;
}


