.error-page-container {
  text-align: center;
  padding: 50px;
  color: #333;
}

.error-page-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #d9534f;
}

.error-page-container h1.page-not-found {
  font-size: 36px;
  margin-top: 0;
  color: #666;
}

.error-page-additional-info {
  margin-top: 30px;
  font-size: 18px;
}

.error-page-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  /* If using <a> tags */
}

.error-page-button:hover {
  background-color: #0056b3;
}