<h1 class="title">About Us</h1>

<mat-tab-group class="tabgroup">

  <mat-tab label="Project Description">
    <div class="text">
      <p>
        This web application was created as an student assignment in the web engineering module webeC held at the FHNW -
        University of Applied Sciences and Arts Northwestern Switzerland.
      </p>
      <p>
        This project details the creation of a sophisticated ticketing application designed to improve the tracking and
        resolution of issues. Central to the application's functionality is the ability for users to set up and manage
        distinct projects. Within these projects, users can create, modify, and delete tickets, which represent specific
        issues or tasks.
      </p>
      <p>
        Each ticket within the system is designed to undergo a lifecycle, marked by various statuses that vividly
        represent its current stage in the resolution process. These statuses include "Open", signifying the initiation
        of an issue; "In Progress", indicating active engagement and problem-solving; "Review", denoting a phase of
        evaluation and feedback; and "Closed", marking the resolution and completion of the issue. This structured
        approach to ticket status not only brings clarity and organization to issue tracking but also facilitates
        efficient project management.
      </p>
      <p>
        In terms of user roles and permissions, the application is versatile. It accommodates two primary user
        categories: admins and regular users. Admins are endowed with extensive control and administrative privileges.
        They have exclusive access to the settings page, which includes critical functionalities such as the authority to
        create, edit, or delete user accounts. This elevated level of control allows admins to effectively manage the
        application environment, ensuring that it aligns with the specific needs of the organization.
      </p>
      <p>
        Additionally, we have implemented a login and authentication system to ensure that access is restricted to
        authorized users only, enhancing the overall integrity of the application.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Developers">
    <div class="text">
      <p>Dobrawa Kiefer & Riccardo Landolfo</p>
    </div>
  </mat-tab>

</mat-tab-group>

