<h1 class="title">About Us</h1>

<mat-tab-group class="tabgroup">
  <mat-tab label="Project Description"> This project outlines the development of a ticketing application, designed to
    streamline issue tracking and resolution processes. The app allows users to create, update, and delete tickets,
    each representing a specific issue or task. A key feature of the app is the ability to add comments to tickets.
    Each ticket can be assigned different statuses, reflecting its current stage in the resolution process, such as
    "Open," "In Progress," or "Closed." The application is built with a sophisticated and responsive design, ensuring a
    seamless user experience across various devices. </mat-tab>
  <mat-tab label="Guide"> Content 2 </mat-tab>
  <mat-tab label="Developers"> Dobrawa Kiefer & Riccardo Landolfo </mat-tab>
</mat-tab-group>
