.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.card {
  max-width: 350px;
  width: 100%;
  margin: auto;
  background-color: #F6F8FC;
  padding: 20px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logInButton {
  width: auto;
  margin: 0 auto;
}
