.logInTitle {
  color: #3F51B5;
  margin-bottom: 10px;
}

.mat-form-field {
  width: 100%;
  margin: 10px 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.card {
  max-width: 350px;
  width: 100%;
  margin: 15px;
  background-color: #F6F8FC;
  padding: 20px;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.logInButton {
  max-width: 260px;
  width: 100%;
  margin-top: 10px;
}
