.logInTitle {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 240px;
  margin: 5px;
}

.card {
  width: 500px;
  height: 80px;
  margin-left: 500px;
  background-color: #F6F8FC;
}

.mat-card {
  color: #3F51B5;
}

.mat-form-field-label {
  color: #3F51B5 !important;
}

.logInButton {
  float: right;
}
