.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.addNewTicketContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.addNewTicketText {
  font-family: Roboto;
  margin: 0;
}

.addNewTicketButton {
  margin-left: 10px;
}

.dragndropcontainer.four-columns .card-container {
  width: 20%;
  margin: 25px;
  display: inline-flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: white;
  text-align: center;
  border-top-style: solid;
  border-top-color: #3F51B5;
}

.dragndropcontainer.two-columns .card-container {
  width: 40%;
  margin: 25px;
  display: inline-flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: white;
  text-align: center;
  border-top-style: solid;
  border-top-color: #3F51B5;
}

.dragndropcontainer.one-column .card-container {
  width: 90%;
  margin: 25px;
  display: inline-flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: white;
  text-align: center;
  border-top-style: solid;
  border-top-color: #3F51B5;
}

.card-list {
  min-height: 60px;
  overflow: hidden;
  background-color: #e4e7f6;
  border: none;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 10px solid #3F51B5;
  border-radius: 5px;
  cursor: move;
  position: relative;
  min-height: 100px;
  max-width: 400px;
  margin: 10px;
  background-color: white;
}

.editButton, .deleteButton, .buttonWrapper {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdk-drag-preview {
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.card-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
