.editButton, .deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.addNewTicketText {
  font-family: Roboto;
  margin-right: 150px;
}

.addNewTicketButton {
  margin: 10px;
}

.dragndropcontainer {
  align-content: center;
  margin-left: 100px;
}

.title {
  color: #3F51B5;
  text-align: center;
  font-family: Roboto;
}

.example-container {
  width: 22%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: center;
  font-family: Roboto;
  background-color: white;
  text-align: center;
  font-family: Roboto;
  border-top-style: solid;
  border-top-color: #3F51B5;
}

.example-list {
  min-height: 60px;
  overflow: hidden;
  background-color: #e4e7f6;
  border: none;

}

.example-box {
  /*padding: 30px 10px;*/
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 10px solid #3F51B5;
  border-radius: 5px;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 10px;
  position: relative;

  min-height: 150px;

}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.example-box:last-child {*/
/*  border: none;*/
/*}*/

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.logoutbutton {
  color: white;
  font-family: Roboto;
}

.example-spacer {
  flex: 1 1 auto;
}

.ticketTitle {

}



