<h1 class="title">Ticket Overview</h1>

<div class="addNewTicketContainer">
  <h2 class="addNewTicketText">Add new ticket</h2>
  <button class="addNewTicketButton" mat-mini-fab color="primary" (click)="openDialogNewTicket()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="dragndropcontainer" [ngClass]="layoutMode">

  <div cdkDropListGroup>
    <div class="card-container">
      <h2>Open</h2>
      <div cdkDropList
           id="OPEN"
           [cdkDropListData]="ticketListOpen"
           class="card-list"
           (cdkDropListDropped)="drop($event)">
        <div class="card-box" [class.mat-elevation-z8]=true *ngFor="let ticket of ticketListOpen" cdkDrag (cdkDragStarted)="getCurrentTicket(ticket)">
          <h2>{{ticket.title}}</h2>
          <div class="buttonWrapper">
            <button class="editButton" mat-raised-button (click)="openDialogPopUp(ticket)"><mat-icon>edit</mat-icon></button>
            <button class="deleteButton" mat-raised-button (click)="deleteTicket(ticket.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-container">
      <h2>In Progress</h2>
      <div cdkDropList
           id="INPROGRESS"
           [cdkDropListData]="ticketListProcess"
           class="card-list"
           (cdkDropListDropped)="drop($event)">
        <div class="card-box" [class.mat-elevation-z8]=true *ngFor="let ticket of ticketListProcess" cdkDrag (cdkDragStarted)="getCurrentTicket(ticket)">
          <h2>{{ticket.title}}</h2>
          <div class="buttonWrapper">
            <button class="editButton" mat-raised-button (click)="openDialogPopUp(ticket)"><mat-icon>edit</mat-icon></button>
            <button class="deleteButton" mat-raised-button (click)="deleteTicket(ticket.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-container">
      <h2>Review</h2>
      <div cdkDropList
           id="REVIEW"
           [cdkDropListData]="ticketListReview"
           class="card-list"
           (cdkDropListDropped)="drop($event)">
        <div class="card-box" [class.mat-elevation-z8]=true *ngFor="let ticket of ticketListReview" cdkDrag (cdkDragStarted)="getCurrentTicket(ticket)">
          <h2>{{ticket.title}}</h2>
          <div class="buttonWrapper">
            <button class="editButton" mat-raised-button (click)="openDialogPopUp(ticket)"><mat-icon>edit</mat-icon></button>
            <button class="deleteButton" mat-raised-button (click)="deleteTicket(ticket.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-container">
      <h2>Done</h2>
      <div cdkDropList
           id="DONE"
           [cdkDropListData]="ticketListDone"
           class="card-list"
           (cdkDropListDropped)="drop($event)">
        <div class="card-box" [class.mat-elevation-z8]=true *ngFor="let ticket of ticketListDone" cdkDrag (cdkDragStarted)="getCurrentTicket(ticket)">
          <h2>{{ticket.title}}</h2>
          <div class="buttonWrapper">
            <button class="editButton" mat-raised-button (click)="openDialogPopUp(ticket)"><mat-icon>edit</mat-icon></button>
            <button class="deleteButton" mat-raised-button (click)="deleteTicket(ticket.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





